*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    background-color: aqua;
    margin:0px;
}
nav li{
    list-style: none;
    border:solid 3px red;
    display: inline;
    margin:10px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    color:blue;
    border:0px;
}
li:hover{
    cursor: pointer;
    font-size: 10px;
}